.app-install-buttons{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 2rem 0;
}

/* header */
.about-header{
    padding: 5% 10%;
    position: relative;
    overflow: hidden;
}

.about-header > .header-ring-canvas{
    position: absolute; 
    z-index: -2; 
    top: 12%; 
    left: -12%; 
    filter: blur(50px);
}

.about-header > .header-bubble-canvas{
    position: absolute; 
    z-index: -2; 
    top: 12%; 
    right: -35%; 
    filter: blur(30px); 
    scale: 0.8; 
    rotate: 45deg;
}

.about-header > article{
    text-align: center;
    position: relative;
}

.about-header > article > h1{
    text-transform: capitalize;
    background: linear-gradient(119.73deg, rgba(155, 235, 255, 0.8) 45.01%, rgba(67, 173, 254, 0.8) 78.49%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.about-header > article > p{
    margin: 3.5rem auto;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #767676;
    width: 70%;
}

.about-header-canvas{
    position: relative;
    scale: 0.7;
    height: 50vh;
    margin: 10rem 0;
}

.about-header > .social-media-list{
    display: flex;
    justify-content: center;
    gap: 2rem;
}

/* about-us section */
.about-us{
    padding: 15% 10% 0;
    display: grid;
    grid-template-columns: 0.45fr 0.55fr;
    gap: 2rem;
}

.about-us > article{
    align-self: center;
}

.about-us > article > h3{
    color: #459DFF;
    margin: 2rem 0;
    text-align: justify;
}

/* about vision */
.about-vision{
    text-align: center;
}

.about-vision > h3{
    color: #459DFF;
    margin: 2rem 0;
}

/* about mission */
.about-mission {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10rem;
}

.about-mission > .about-mission-canvas{
    position: relative;
    height: 100%;
    width: 100%;
    aspect-ratio: 3/4;
}   

.about-mission-canvas > .overlay{
    position: absolute;
    z-index: 3;
    height: 100%;
    width: 100%;
    aspect-ratio: 3/4;
    background: linear-gradient(0deg, rgba(255,255,255,1) 5%, rgba(255,255,255,0.25) 10%, rgba(255,255,255, 0) 50%, rgba(255,255,255,0.25) 90%, rgba(255,255,255,1) 95%);
}

.about-mission > article{
    align-self: center;
    text-align: justify;
    position: relative;
}

.about-mission > article > h3 {
    color: #459DFF;
    margin: 2rem 0;
}

/* bubble group canvas */
.bubble-group-canvas{
    position: relative;
    height: 10vh;
}

/* about join us */
.about-join-us > h3{
    text-align: center;
    color: #459DFF;
}

/* about advantages */
.about-advantages{
    display: grid;
    grid-template-columns: 0.5fr 0.55fr;
    gap: 2rem;
}

.about-advantages > article{
    align-self: center;
}

.about-advantages > article > h3{
    color: #459DFF;
    margin: 2rem 0;
    width: 90%;
}

/* about unique mechanism */
.about-unique-mechanism{
    display: grid;
    grid-template-columns: 0.6fr 0.4fr;
    gap: 2rem;
}
.about-unique-mechanism > .about-unique-canvas{
    position: relative;
    aspect-ratio: 4/3;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.about-unique-mechanism > article{
    align-self: center;
}

.about-unique-mechanism > article > h3{
    color: #459DFF;
    margin: 2rem 0;
}

/* about believe */
.about-believe{
    position: relative;
}

.about-believe > article {
    text-align: center;
}

.about-believe > article > h3{
    color: #459DFF;
    margin: 2rem 0;
}

.about-believe > .about-believe-canvas{
    position: relative;
}


.about-believe > .about-believe-footer{
    text-align: center;
}

/* Screen Responsible */
@media (max-width: 1024px){
    /* header */
    .about-header > .header-ring-canvas{
        top: 15%; 
        left: -20%; 
    }
    
    .about-header > .header-bubble-canvas{
        top: 12%; 
        right: -50%; 
        scale: 0.6; 
    }

    /* about mission */
    .about-mission{
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .about-mission > article{
        text-align: center;
    }
    
    /* about believe */
    .about-believe > .about-believe-canvas{
        scale: 0.7;
        
    }
}

@media (max-width: 768px){
    /* header */
    .about-header > .header-ring-canvas{
        top: 15%; 
        left: -35%; 
    }
    
    .about-header > .header-bubble-canvas{
        top: 15%; 
        right: -60%; 
        scale: 0.45; 
    }

    .about-header-canvas{
        scale: 0.6;
    }

    /* about us */
    .about-us{
        display: flex;
        flex-direction: column;
    }

    .about-us > article{
        text-align: center;
    }

    .about-us > article > h3 {
        text-align: center;
    }

    /* about advantages */
    .about-advantages{
        display: flex;
        flex-direction: column-reverse;
    }

    .about-advantages > article{
        text-align: center;
    }

    /* about unique mechanism */
    .about-unique-mechanism{
        grid-template-columns: 1fr;
    }

    .about-unique-mechanism > article{
        text-align: center;
    }

    /* about believe */
    .about-believe > .about-believe-canvas{
        scale: 1;
        height: 50vh;
        margin: 2rem 0;
        overflow: unset;
    }
}

@media (max-width: 425px){
    /* header */
    .about-header > .header-ring-canvas{
        top: 15%; 
        left: -35%; 
        scale: 0.2;
    }
    
    .about-header > .header-bubble-canvas{
        top: 15%; 
        right: -80%; 
        scale: 0.2; 
    }
    .about-header > article > h1{
        font-size: 27px;
        line-height: 35px;
    }

    .about-header-canvas{
        scale: 0.4;
        margin: 5rem, 0;
        height: 25vh;
    }

    .about-header > .social-media-list{
        position: absolute;
        left: 50%;
        bottom: 10%;
        transform: translateX(-50%);
    }

    /* about us */
    .about-us{
        padding-top: 30%;
        display: grid;
        grid-template-columns: 1fr;
    }

    /* about mission */
    .about-mission > .about-mission-canvas{
        scale: 0.8;
    }

    /* about unique */
    .about-unique-canvas {
        aspect-ratio: 1;
        height: 100%;
        width: 100%;
        overflow: hidden;
    }

    .about-unique-canvas > img{
        object-position: 0px -90px;
    }

    /* about believe */
    .about-believe > .about-believe-canvas{
        scale: 1;
        height: unset;
        margin: 2rem 0;
        overflow: hidden;
    }
}