.app-install-buttons{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 2rem 0;
}

/* header */
.about-header{
    padding: 10%;
    text-align: center;
}

.about-header > h1{
    text-transform: capitalize;
}

.about-header > .social-media-list{
    display: flex;
    justify-content: center;
    gap: 2rem;
}

/* about-us section */
.about-us{
    padding: 15% 10% 0;
    display: grid;
    grid-template-columns: 0.45fr 0.55fr;
    gap: 2rem;
}

.about-us > article{
    align-self: center;
}

.about-us > article > h3{
    color: #459DFF;
    margin: 2rem 0;
    text-align: justify;
}

/* about vision */
.about-vision{
    text-align: center;
}

.about-vision > h3{
    color: #459DFF;
    margin: 2rem 0;
}

/* about mission */
.about-mission {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10rem;
}

.about-mission > .about-mission-canvas{
    position: relative;
    height: 100%;
    width: 100%;
    aspect-ratio: 1;
}   

.about-mission-canvas > .overlay{
    position: absolute;
    z-index: 3;
    height: 100%;
    width: 100%;
    aspect-ratio: 1;
    background: linear-gradient(0deg, rgba(255,255,255,1) 5%, rgba(255,255,255,0.25) 10%, rgba(255,255,255, 0) 50%, rgba(255,255,255,0.25) 90%, rgba(255,255,255,1) 95%);
}

.about-mission > article{
    align-self: center;
    text-align: justify;
    position: relative;
}

.about-mission > article > h3 {
    color: #459DFF;
    margin: 2rem 0;
}

/* bubble group canvas */
.bubble-group-canvas{
    position: relative;
    height: 10vh;
}

/* about join us */
.about-join-us > h3{
    text-align: center;
    color: #459DFF;
}

/* about advantages */
.about-advantages{
    display: grid;
    grid-template-columns: 0.5fr 0.55fr;
    gap: 2rem;
}

.about-advantages > article{
    align-self: center;
}

.about-advantages > article > h3{
    color: #459DFF;
    margin: 2rem 0;
    width: 90%;
}

/* about unique mechanism */
.about-unique-mechanism{
    display: grid;
    grid-template-columns: 0.6fr 0.4fr;
    gap: 2rem;
}
.about-unique-mechanism > .about-unique-canvas{
    position: relative;
    aspect-ratio: 4/3;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.about-unique-mechanism > article{
    align-self: center;
}

.about-unique-mechanism > article > h3{
    color: #459DFF;
    margin: 2rem 0;
}

/* about believe */
.about-believe > article {
    text-align: center;
}

.about-believe > article > h3{
    color: #459DFF;
    margin: 2rem 0;
}

.about-believe > .about-believe-canvas{
    position: relative;
    height: 45vh;
    width: 100%;
    margin: 3rem 0;
}

.about-believe > .about-believe-footer{
    text-align: center;
}

/* Screen Responsible */
@media (max-width: 1024px){
    /* about mission */
    .about-mission{
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .about-mission > article{
        text-align: center;
    }
    
    /* about believe */
    .about-believe > .about-believe-canvas{
        scale: 0.7;
        
    }
}

@media (max-width: 768px){
    /* about us */
    .about-us{
        display: flex;
        flex-direction: column;
    }

    .about-us > article{
        text-align: center;
    }

    .about-us > article > h3 {
        text-align: center;
    }

    /* about advantages */
    .about-advantages{
        display: flex;
        flex-direction: column-reverse;
    }

    .about-advantages > article{
        text-align: center;
    }

    /* about unique mechanism */
    .about-unique-mechanism{
        grid-template-columns: 1fr;
    }

    .about-unique-mechanism > article{
        text-align: center;
    }

    /* about believe */
    .about-believe > .about-believe-canvas{
        scale: 0.8;
        height: 35vh;
        margin: 2rem 0;
        overflow: hidden;
    }
}

@media (max-width: 425px){
    /* about us */
    .about-us{
        display: grid;
        grid-template-columns: 1fr;
    }

    /* about mission */
    .about-mission > .about-mission-canvas{
        scale: 0.8;
    }
}