.navbar{
    position: sticky;
    top: 0;
    z-index: 999;
    padding: 1rem 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(0deg, rgba(255,255,255,0) 5%, rgba(255,255,255,0.5) 50%);
    backdrop-filter: blur(1px);
}

.nav-link{
    font-weight: 500;
    font-size: 16px;
    color: #767676;
}

.active{
    font-weight: 600;
    color: #459DFF;
}

.logo{
    align-content: center;
}

.navlink{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.navlink-list{
    display: flex;
    gap: 1rem;
}

.discover-btn{
    color: white;
    font-size: 16px;
    font-weight: 500;
    padding: 20px 27px;
    border-radius: 20px;
    border: none;
    background: linear-gradient(0deg, #9BEBFF, #43ADFE);
    background: linear-gradient(119.73deg, rgba(155, 235, 255, 0.8) 15%, rgba(67, 173, 254, 0.8) 45%);
}

/* Nav Menu */
.navlink-menu-btn{
    position: relative;
}

.nav-menu-btn{
    padding: 20px 27px;
    border-radius: 20px;
    border: none;
    background: transparent;
}

.navlink-menu{
    position: absolute;
    right: 0;
    background: lightgray;
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media (max-width: 425px) {
    .navbar{
        padding: 10px;
    }

    .logo{
        scale: 0.75;
    }
}